<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="initObject"
       default-destroy-method="destroyObject"
       default-lazy-init="true"
>
    <bean id="t1000" class="spring.impls.robot.ModelT1000"
          p:hand-ref="toshibaHand" p:head-ref="sonyHead" p:leg-ref="sonyLeg" lazy-init="true" scope="singleton">

    </bean>

    <bean id="t1000all" class="spring.impls.robot.ModelT1000" scope="prototype" lazy-init="true">
        <!--init-method="initObject"-->
        <!--destroy-method="destroyObject"-->

        <constructor-arg value="Red" index="0" type="java.lang.String"/>
        <constructor-arg value="2018" index="1" type="int"/>
        <constructor-arg value="true" index="2" type="boolean"/>
        <property name="leg" ref="sonyLeg"/>
        <property name="hand" ref="toshibaHand"/>
        <property name="head" ref="sonyHead"/>

    </bean>
    <bean id="sonyLeg" class="spring.impls.sony.SonyLeg" scope="prototype"/>
    <bean id="sonyHead" class="spring.impls.sony.SonyHead"/>
    <bean id="sonyHand" class="spring.impls.sony.SonyHand"/>

    <bean id="toshibaLeg" class="spring.impls.toshiba.ToshibaLeg"/>
    <bean id="toshibaHead" class="spring.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaHand" class="spring.impls.toshiba.ToshibaHand" scope="singleton"/>
</beans>