<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="t10001" class="spring.impls.robot.ModelT1000"
          p:hand-ref="ToshibaHand"
          p:leg-ref="SonyLeg"
          p:head-ref="SonyHead">

    </bean>

    <bean id="t10002" class="spring.impls.robot.ModelT1000"
         p:head-ref="SonyHead"
         p:leg-ref="SonyLeg"
         p:hand-ref="ToshibaHand">

        <constructor-arg value="silver"/>
        <constructor-arg value="2006"/>
        <constructor-arg value="true"/>
    </bean>

    <bean id="t10003" class="spring.impls.robot.ModelT1000">
        <constructor-arg value="true" index="2" type="boolean"/>
        <constructor-arg value="silver" index="0" type="java.lang.String"/>
        <constructor-arg value="2006" index="1" type="int"/>

        <property name="hand" ref="ToshibaHand"/>
        <property name="head" ref="ToshibaHead"/>
        <property name="leg" ref="ToshibaLeg"/>
    </bean>

    <bean id="SonyHand" class="spring.impls.sony.SonyHand"/>
    <bean id="SonyHead" class="spring.impls.sony.SonyHead"/>
    <bean id="SonyLeg" class="spring.impls.sony.SonyLeg"/>

    <bean id="ToshibaHand" class="spring.impls.toshiba.ToshibaHand"/>
    <bean id="ToshibaHead" class="spring.impls.toshiba.ToshibaHead"/>
    <bean id="ToshibaLeg" class="spring.impls.toshiba.ToshibaLeg"/>

</beans>